#pandas deps
pandas==2.0.2
tzdata==2023.3
numpy==1.24.3
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
smart-open==6.3.0
gensim==4.3.1
scipy==1.10.1

#sklearn deps
scikit-learn==1.2.2
joblib==1.2.0
threadpoolctl==3.1.0

#tokenizer
tokenizers

#transformers
transformers==4.29.2
filelock==3.12.0
regex==2023.6.3
huggingface_hub==0.15.1
packaging==23.1
fsspec==2023.5.0
typing-extensions==4.5.0
PyYAML==6.0
requests==2.30.0
urllib3==1.26.15
certifi==2023.5.7
tqdm==4.65.0
charset-normalizer==3.1.0
idna==3.4

#tf
tensorflow==2.12.0